In [1]:
import pandas as pd
import numpy as np


import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
solar_train = pd.read_csv('../data/external/solar_train.csv')

In [6]:
solar_train.head()

,UNIXTime,Data,Time,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,TimeSunRise,TimeSunSet
0,1475175023,9/29/2016 12:00:00 AM,08:50:23,634.99,61,30.46,41,14.96,6.75,06:13:00,18:13:00
1,1481799902,12/15/2016 12:00:00 AM,01:05:02,1.27,37,30.26,70,207.43,5.62,06:50:00,17:46:00
2,1478339417,11/4/2016 12:00:00 AM,23:50:17,1.21,47,30.49,33,168.20,5.62,06:25:00,17:47:00
3,1472887208,9/2/2016 12:00:00 AM,21:20:08,1.67,54,30.46,101,152.60,3.37,06:07:00,18:37:00
4,1478724901,11/9/2016 12:00:00 AM,10:55:01,839.78,62,30.47,36,291.95,7.87,06:28:00,17:45:00

In [7]:
solar_train.describe()

,UNIXTime,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed
count,2.451400e+04,24514.000000,24514.000000,24514.000000,24514.000000,24514.000000,24514.000000
mean,1.478049e+09,208.062687,51.105287,30.422713,75.002284,143.129305,6.248435
std,3.006914e+06,316.133238,6.214280,0.054754,25.999994,82.939584,3.482597
min,1.472724e+09,1.130000,34.000000,30.190000,11.000000,0.090000,0.000000
25%,1.475532e+09,1.230000,46.000000,30.400000,55.000000,81.872500,3.370000
50%,1.478047e+09,2.720000,50.000000,30.430000,85.000000,147.585000,5.620000
75%,1.480482e+09,359.927500,55.000000,30.460000,97.000000,179.217500,7.870000
max,1.483265e+09,1601.260000,71.000000,30.560000,103.000000,359.950000,39.370000

In [37]:
solar = solar_train.copy(deep=True)

In [38]:
def temp_to_kelvin(t):
    return round((t-32)*5/9 + 273.15, 2)

In [39]:
def press_to_pascal(p):
    return round(p*133.322, 2)

In [40]:
def speed_to_ms(s):
    return round(s/2.236936, 2)

In [41]:
solar['Temperature'] = solar['Temperature'].apply(temp_to_kelvin)
solar['Pressure'] = solar['Pressure'].apply(press_to_pascal)
solar['Speed'] = solar['Speed'].apply(speed_to_ms)

In [42]:
solar.describe()

,UNIXTime,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed
count,2.451400e+04,24514.000000,24514.000000,24514.000000,24514.000000,24514.000000,24514.000000
mean,1.478049e+09,208.062687,283.763923,4056.016801,75.002284,143.129305,2.793646
std,3.006914e+06,316.133238,3.452542,7.299362,25.999994,82.939584,1.556280
min,1.472724e+09,1.130000,274.260000,4024.990000,11.000000,0.090000,0.000000
25%,1.475532e+09,1.230000,280.930000,4052.990000,55.000000,81.872500,1.510000
50%,1.478047e+09,2.720000,283.150000,4056.990000,85.000000,147.585000,2.510000
75%,1.480482e+09,359.927500,285.930000,4060.990000,97.000000,179.217500,3.520000
max,1.483265e+09,1601.260000,294.820000,4074.320000,103.000000,359.950000,17.600000

In [45]:
solar.head()

,UNIXTime,Data,Time,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,TimeSunRise,TimeSunSet
0,1475175023,9/29/2016 12:00:00 AM,08:50:23,634.99,289.26,4060.99,41,14.96,3.02,06:13:00,18:13:00
1,1481799902,12/15/2016 12:00:00 AM,01:05:02,1.27,275.93,4034.32,70,207.43,2.51,06:50:00,17:46:00
2,1478339417,11/4/2016 12:00:00 AM,23:50:17,1.21,281.48,4064.99,33,168.20,2.51,06:25:00,17:47:00
3,1472887208,9/2/2016 12:00:00 AM,21:20:08,1.67,285.37,4060.99,101,152.60,1.51,06:07:00,18:37:00
4,1478724901,11/9/2016 12:00:00 AM,10:55:01,839.78,289.82,4062.32,36,291.95,3.52,06:28:00,17:45:00

In [52]:
solar.to_csv('../data/interim/solar_int_train.csv')

In [47]:
solar_phys = solar.copy(deep=True)

In [49]:
solar_phys.drop(columns=['UNIXTime', 'Data', 'Time', 'TimeSunRise', 'TimeSunSet'], inplace=True)

In [51]:
solar_phys.head()

   Radiation  Temperature  Pressure  Humidity  WindDirection(Degrees)  Speed
0     634.99       289.26   4060.99        41                   14.96   3.02
1       1.27       275.93   4034.32        70                  207.43   2.51
2       1.21       281.48   4064.99        33                  168.20   2.51
3       1.67       285.37   4060.99       101                  152.60   1.51
4     839.78       289.82   4062.32        36                  291.95   3.52

In [53]:
solar_phys.to_csv('../data/interim/solar_phys_train.csv')

In [54]:
solar_test = pd.read_csv('../data/external/solar_test.csv')

In [55]:
solar_test.head()

,id,UNIXTime,Data,Time,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,TimeSunRise,TimeSunSet
0,0,1478720107,11/9/2016 12:00:00 AM,09:35:07,59,30.47,44,312.67,3.37,06:28:00,17:45:00
1,1,1474063503,9/16/2016 12:00:00 AM,12:05:03,59,30.48,83,38.01,6.75,06:10:00,18:25:00
2,2,1476109221,10/10/2016 12:00:00 AM,04:20:21,47,30.39,78,213.62,5.62,06:16:00,18:03:00
3,3,1481475056,12/11/2016 12:00:00 AM,06:50:56,45,30.40,98,176.63,4.50,06:47:00,17:44:00
4,4,1477493117,10/26/2016 12:00:00 AM,04:45:17,45,30.40,34,175.89,6.75,06:21:00,17:52:00

In [56]:
solar_phys_test = solar_test.copy(deep=True)

In [57]:
solar_phys_test.drop(columns=['UNIXTime', 'Data', 'Time', 'TimeSunRise', 'TimeSunSet'], inplace=True)

In [60]:
solar_phys_test['Temperature'] = solar_phys_test['Temperature'].apply(temp_to_kelvin) 
solar_phys_test['Pressure'] = solar_phys_test['Pressure'].apply(press_to_pascal)
solar_phys_test['Speed'] = solar_phys_test['Speed'].apply(speed_to_ms)

In [61]:
solar_phys_test.head()

   id  Temperature  Pressure  Humidity  WindDirection(Degrees)  Speed
0   0       288.15   4062.32        44                  312.67   1.51
1   1       288.15   4063.65        83                   38.01   3.02
2   2       281.48   4051.66        78                  213.62   2.51
3   3       280.37   4052.99        98                  176.63   2.01
4   4       280.37   4052.99        34                  175.89   3.02

In [62]:
solar_phys_test.to_csv('../data/interim/solar_phys_test.csv')